@mixin adjustedFont($fontSize, $color, $fontWeight) {
  font-size: $fontSize;
  color: $color;
  font-weight: $fontWeight;
}

@mixin searchbox($width, $fontsize) {
  border: 1px solid var(--color-grey-light-4);
  border-radius: 9999px;
  padding: 12px 24px;
  width: $width;
  font-size: $fontsize;
}

@mixin button($color, $backgroundColor, $colorBorder, $padding) {
  color: $color;
  background-color: $backgroundColor;
  padding: 8px 20px;
  border: 1px solid $colorBorder;
  border-radius: 0.8rem;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}
